#map {
	/* width: 600px; */
	/* height: 400px; */
	width: 100%;
	height: 100%;
}

.osm-pin-icon {
	width: 64px;
	height: 64px;
	position: absolute;
	left: -25px;
	top: -58px;
	margin: -0 0 0 0;
	/* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}

/* .osm-pin-icon path {
	fill: red !important;
} */
